
body{
	margin: 0px auto;
	padding-top: 10px;
	/*font-family: helvetica, times, arial;
	color: #666666;*/
} 

.logo{
	max-width: 70%;
}

.iconos li {
	display: inline-block;
}

.iconos li img {
	width: 50px;
}

.carousel-inner {
	height: 400px;
}

.espacioSeccion{
	margin-top: 20px;
	padding-top: 60px;
}

.espacioTopP{
	padding-top: 20px;
	padding-bottom: 10px;
}

.espacioBotton{
	padding-bottom: 30px;
}

.descripcion{
	text-align: justify;
	padding: 10px;
}


.colorBlog {
	color: #0e71b5;
}

.colorBotton {
	background-color: #0e71b5;
	color: #feec00;
}

.parrafo {
	font-size: small;
}

/*  width="460px" height="345px" */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 40%;
    margin: auto;
    height: 345px;
}
