
body{
	margin: 0px auto;
	padding-top: 10px;
	font-family: helvetica, times, arial;
	color: #666666;
} 

.logo, .icono{
	max-width: 70%;
}

.espacioSeccion{
	margin-top: 20px;
	padding-top: 60px;
}

.espacioTopP{
	padding-top: 20px;
}

.espacioBotton{
	padding-bottom: 30px;
}

.descripcion{
	text-align: justify;
	padding: 10px;
}

.jumbotron{
	margin-top: 50px;
	margin-bottom: 30px;
}

.colorBlog {
	color: #0e71b5;
}

/*  width="460px" height="345px" */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 40%;
    margin: auto;
    height: 345px;
}
